.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    & > * {
        flex-direction: column;
        border: 1px black solid;
        padding: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px black solid;
        padding: 10px;
    }

    @include for-mobile-layout {
        flex-direction: column;
    }
    @include for-narrow-layout {
        flex-direction: row;
        flex-wrap: wrap;
    }
    @include for-normal-layout {
        flex-wrap: unset;
    }
}

//@mixin for-narrow-layout {
//    @media (min-width: $mobile-breakpoint) {
//        @content;
//    }
//}
