.map-container {
    display: flex;
    flex-direction: column;
    .btn-nav-map {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #889bac;
        padding: 26px 0px;
        gap: 70px;
    }
}
