.details {
    display: flex;
    margin-top: 16px;
    gap: 15px;

    & > * {
        flex: 1;
    }

    .detail_right,
    .review-conatiner {
        @include white-box;

        .img {
            height: 350px;
            width: 300px;
            object-fit: cover;
        }

        .price {
            font-size: 18px;
            line-height: 25px;
            margin: 7px 0px;
            color: #e20512;
            font-family: "UniformRnd-Bold";
        }

        .div-separator {
            background: #e8e8e8;
            height: 1px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h1 {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20px;
        }

        a {
            align-self: center;
        }
    }

    td img {
        height: 20px;
    }

    .btn-conatiner {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        gap: 22px;
    }
}

.card-review {
    width: 95%;
    margin: 0 auto;
    padding: 21px 21px;
    background-color: #f8f5f55c;
    border-radius: 10px;
    box-shadow: -1px 0px 9px 0px #bbb7b7;
    margin-bottom: 18px;
    font-size: 15px;
    img {
        height: 20px;
        padding: 0;
    }

    .review-info {
        &:first-child {
            margin-right: 25px;
        }
        small {
            color: gray;
        }
    }

    .review-username{
        align-items: center;
        justify-content: center;
        width: 44px;
        min-width: 44px;
        height: 44px;
        min-height: 44px;
        border-radius: 50%;
        font-size: 14px;
        font-size: .875rem;
        line-height: 20px;
        line-height: 1.25rem;
        font-weight: 700;
        background: #cccac7;
        display: inline-flex;
    }
}
